.button-right{
    right: auto;
    left: 120px;
}

.menu_affichage{
    position: absolute;
    top: 25vh;
    right: 80px;

    width: 600px;
    height: 50vh;

    border-radius: 15px;
    overflow: hidden;
}

.menu_affichage__header{
    width: 100%;
    height: 60px;
    background-color: #f96c08;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Bebas Neue", sans-serif;
    font-size: 24px;
    color: white;
    border-bottom: 2px solid white;
}
.menu_affichage_joueurs{
    width: 100%;
    height: calc(100% - 60px);
    background-color: #222222;
    padding: 15px;
    box-sizing: border-box;
    overflow-y: auto;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: 15px;
}
.menu_affichage_joueurs span{
    width: 40%;
}

.joueur, .header_menu{
    height: fit-content;
    width: 100%;
    background-color: #333333;

    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 15px;

    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px;
    cursor: pointer;
    color: white;

    font-family: "Bebas Neue", sans-serif;
    font-size: 22px;
}
.header_menu{
   color: #f96c08;
   background-color: transparent;
   font-size: 24px;
    cursor: default;
}