:root{
    --color-white : #ffffff;
    --color-black : #000000;
    --color-red : #e91515;
    --color-orange : #e84c13;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}
body{
    background-color: var(--color-black);
    color: var(--color-white);
    position: relative;
}

header{
    /* background-color: var(--color-white); */
    text-align: start;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}
.image-container{
    position: absolute;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    top: 0;
    left: 0;
    z-index: -1;
}
.image-container img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 0.5s ease-in-out;
}

.logo h1{
    font-size: 4rem;
    font-weight: 900;
    color: var(--color-white);
}
.logo a{
    text-decoration: none;
    font-weight: 900;
}
.red-text{
    color: var(--color-orange);
}
.menu-profile{
    height: 50px;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 10px;
}
.menu-profile h2{
    color: var(--color-white);
    font-size: 1.125rem;
    padding-left: 20px;
}
.menu-profil__rond{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.menu-profil__tete{
    width: 20px;
    height: 20px;
    background-color: var(--color-orange);
    border-radius: 50%;
}
.menu-profil__corps{
    width: 30px;
    height: 15px;
    background-color: var(--color-orange);
    border-radius: 10px;
    margin-top: 5px;
}

nav{
    display: flex;
    gap: 20px;
    padding: 10px 20px;
}

nav button{
    background-color: transparent;
    border: none;
    color: var(--color-white);
    font-size: 1.3rem;
    cursor: pointer;
    padding: 10px 20px;
    transition: all 0.5s ease;
    border-radius: 5px;
}
nav button:hover{
    background-color: var(--color-white);
    color: var(--color-black);
}

#titre_menu {
    margin-left: 20px;
}

#phrase {
    margin-left: 20px;
}

.team {
    margin-left: 20px;
}

.matchs {
    margin-left: 20px;
}

.button-right {
    margin-left: 20px;
}

