*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    width: 100%;
    height: fit-content;
    /* background-color: #333; */
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    padding: 10px 20px;
}
.logo{
    height: fit-content;
    color: white;
    font-size: 30px;
}

.menu{
    position: relative;

    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 10px 20px;
}
.menu-list{
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
}
.menu-list li a{
    text-decoration: none;
    color: white;
    font-size: 30px;
    padding: 10px 15px;
    transition: background-color 0.3s, color 0.3s;
}
.menu-list li a:hover{
    background-color: white;
    border-radius: 5px;
    color: black;
}

.image-container{
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.image-container img{
    width: 100%;
    height: auto;
}

.text-center{
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-25%, -80%);
    color: white;
    font-size: 50px;
    font-family: "Bebas Neue", sans-serif;
    text-align: left;
    
}
.text-center h2{
    font-size: 90px;
}
.text-center p{
    font-size: 30px;
    margin-top: 20px;
    color: #f0f0f0;
    font-weight: 800;
}
.red-text{
    color: #f96c08;
}