*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}
body{
    background-color: black;
}
header{
    width: 100%;
    height: fit-content;
    /* background-color: #333; */
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    padding: 10px 20px;
}
.logo{
    height: fit-content;
    color: white;
    font-size: 30px;
}

.menu{
    position: relative;

    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 10px 20px;
}
.menu-list{
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
}
.menu-list button{
    text-decoration: none;
    color: white;
    font-size: 30px;
    padding: 10px 15px;
    transition: background-color 0.3s, color 0.3s;
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-family: "Bebas Neue", sans-serif;
    border-radius: 5px;

}
.menu-list button:hover{
    background-color: white;
    border-radius: 5px;
    color: black;
}

.image-container{
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.image-container img{
    width: 100%;
    height: auto;
    transition: opacity 0.5s ease-in-out;
    position: absolute;
    top: 0;
    left: 0;
}

#image-current{
    opacity: 1;
    z-index: 1;
}

#image-next{
    opacity: 0;
    z-index: 2;
}

.text-center{
    position: absolute;
    top: 420px;
    left: 80px;
    color: white;
    font-size: 50px;
    font-family: "Bebas Neue", sans-serif;
    text-align: left;
    transition: opacity 0.5s ease-in-out;
}
.text-center h2{
    font-size: 90px;
}
.text-center p{
    font-size: 30px;
    margin-top: 20px;
    color: #f0f0f0;
    font-weight: 800;
    max-width: 900px;
}
.red-text{
    color: #f96c08;
}

.menu-profil{
    position: absolute;
    top: 10px;
    right: 20px;
    color: white;
    font-size: 20px;
    height: 40px;
    font-family: "Bebas Neue", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 10px;

}

.menu-profil__rond{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: transparent;
    margin-left: 10px;
    display: inline-block;
    overflow: hidden;
    cursor: pointer;
}

.menu-profil__tete{
    width: 14px;
    height: 14px;
    background-color: #f96c08;
    border-radius: 50%;
    position: relative;
    top: 4px;
    left: 8px;
}
.menu-profil__corps{
    width: 20px;
    height: 12px;
    background-color: #f96c08;
    border-radius: 10px;
    position: relative;
    top: 6px;
    left: 5px;
}
.button-right{
    position: absolute;
    top: 25vh;
    right: 80px;
    width: 350px;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
}
.button-right button{
    padding: 15px 40px;
    font-size: 25px;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    border: none;
    border-radius: 10px;
    background-color: #f96c08;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}
.button-right button:hover{
    background-color: white;
    color: black;
}
.Ma-team-btn{ display: none;}